<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать в Practix</title>
</head>
<body>
    <h1>Добро пожаловать в онлайн-кинотеатр Practix, {{ username }}!</h1>
    <p>Спасибо, что выбрали нас. Теперь у вас есть доступ к огромной коллекции фильмов и сериалов для любого настроения.</p>
    <p>Мы рады приветствовать вас в нашем сообществе и надеемся, что вам понравится пользоваться Practix. Если у вас возникнут вопросы, наша команда поддержки всегда готова помочь.</p>
    <p>Желаем вам приятного просмотра и ярких впечатлений!</p>
    <p>С уважением, команда Practix</p>
</body>
</html>
